<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<%= calendar number_of_days: 1 do |date| %>
  <%= @paramDate.strftime("%D") %>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Who</th>
      <th>Room</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.title %></td>
          <td><%= booking.start_date.strftime("%H:%M") %></td>
          <td><%= booking.end_date.strftime("%H:%M") %></td>
          <td><%= booking.user_id %></td>
          <td><%= booking.calendar.name %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking, 'start_date' => @paramDate) %></td>
          <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>



<br>

<%= link_to 'Back', calendars_index_path %>
