
  <div class="text-center">
    <h1>View Calendar Bookings</h1>
  </div>

  <div class="container">
    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-lg-12">

        <%= month_calendar events: @bookings do |date, bookings|%>
          <%= link_to date.strftime("%e"), date_booking_path(date, :start_date => date)  %>
          <% if date.strftime("%D") >= DateTime.now.strftime("%D") %>
            <%= link_to '+', new_booking_path(:date => date), class: 'new_booking' %>
          <% end %>

          <% bookings.each do |booking| %>
            <div class="<%= booking.calendar.color_ind if booking.calendar != nil %> booking-block">
              <%= link_to booking.title, booking_path(booking.id)  %>
            </div>
          <% end %>

        <% end %>

      </div>
    </div>
  </div>
