<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<p>
  <strong>Color ind:</strong>
  <%= @calendar.color_ind %>
</p>

<p>
  <strong>Location:</strong>
  <%= @calendar.location %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
