@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


$white: white;
$black: black;
$blue: blue;

.navbar {
    margin-bottom: 0;
    background: $black;
}
body {
    color: $black;
    font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
    font-weight: bold;
}
p {
    font-size: 16px;
    color: $black;
}
a {
  word-break: break-all;
}
a:hover {
  background-color: transparent;
}
a:visited {
    color: $blue;
}
.jumbotron {
    background: #0048CD;
    color: $white;
    text-align: center;
p {
    color: $white;
    font-size: 26px;
}
}
.link {
    color: $black;
}
.btn-primary {
    color: $white;
    border-color: $white;
    margin-bottom: 5px;
}
.btn-sm {
    background-color: $white;
    display: inline-block;
}
img,
video,
audio {
    margin-top: 20px;
    max-width: 80%;
}
caption {

    float: left;
    clear: both;

}
