// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new_booking {
  float: right;
  text-decoration: none;
  padding: 1px 5px;
  border: 1px #adacac solid;
  border-radius: 5px;
}
