// Place all the styles related to the Calendars controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}

  .calendar-title{
    font-size: 25px;

  }
}

.red {
  color: #fff;
  background-color: #ff2a2a;
}

.blue {
  color: #fff;
  background-color: #3b47ff;
}

.green {
  color: #fff;
  background-color: #2aff35;
}

.yellow {
  color: #fff;
  background-color: #fff53b;
}

.booking-block {
  display: block;
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 140px;
}